<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project2017.Properties.Settings.Project2017Connection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\INF2001S\Project2017\Project2017\Project2017DB.mdf;Integrated Security=True" />
        <add name="Project2017.Properties.Settings.ProjectDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-MRH96IE\SQLEXPRESS;Initial Catalog=ProjectDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Project2017.Properties.Settings.Project2017DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Project2017DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>